language: python
cache: pip
dist: bionic
python:
  - "3.7"
  - "3.8"
  - "3.9"
install:
  - python setup.py install
script:
  - ./start.sh --data-dir /tmp --connection-limit 16 &
  - sleep 25; pkill -P $(pgrep start.sh); sleep 5
  - python -bm tests
